<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Flavour</th>
                    <th scope="col">Colour</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of viewRecepie">
                    
                    <td>{{i.name}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.flavour}}</td>
                    <td>{{i.colour}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>