<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name"[(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" [(ngModel)]="description">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Flavour</label>
                    <input type="text" class="form-control" name="flavour" [(ngModel)]="flavour">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Colour</label>
                    <input type="text" class="form-control" name="colour" [(ngModel)]="colour">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary" (click)="readValues()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
